[submodule ".registry"]
	path = .registry
	url = https://github.com/fishfollower/universe
	shallow = true
	branch = HEAD
[submodule "stockassessment"]
	path = stockassessment
	url = https://github.com/fishfollower/SAM
	shallow = true
	subdir = stockassessment
	registered = true
