[submodule ".registry"]
	path = .registry
	url = https://github.com/fishfollower/fishfollower.r-universe.dev
	branch = HEAD
[submodule "stockassessment"]
	path = stockassessment
	url = https://github.com/fishfollower/SAM
	subdir = stockassessment
